    @charset "utf-8";
    html {
        font-size: 62.5%;
    }
    
    body {
        color: #333;
        font-size: 1.6rem;
        background-image: url("../img/memo.jpeg");
        background-size: cover;
    }
    
    .container {
        max-width: 970px;
        margin: auto;
    }
    
    h1 {
        text-align: right;
        font-weight: bold;
        font-size: 64px;
    }
    
    .btn_area {
        margin-top: 160px;
    }
    
    .btn {
        width: 250px;
        height: 50px;
        margin: 0 50px 30px auto;
        text-align: center;
        line-height: 50px;
        border-radius: 999px;
        font-weight: bold;
    }
    
    .btn a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        border-radius: 999px;
        color: #000;
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }
    
    .btn a:hover {
        margin-top: 3px;
        color: #000;
    }
    
    .login_btn,
    .home_btn {
        background-color: #91ccf4;
        border-bottom: 5px solid #5ca2d5;
    }
    
    .login_btn:hover,
    .home_btn:hover {
        background: #91ccf4;
        border-bottom: 2px solid #5ca2d5;
    }
    
    .register_btn {
        background-color: #f68887;
        border-bottom: 5px solid #b84c00;
    }
    
    .register_btn:hover {
        background-color: #f68887;
        border-bottom: 2px solid #b84c00;
    }